* {
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffdfdf;
}

.pet-selector {
    width: 200px;
    margin: 3px 5px 5px 0;
}



/* Style the header */
header {
    background-color: #3e332e;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #ffdfdf;
}

/* Container for flexboxes */
section {
    display: -webkit-flex;
    display: flex;
}

/* Style the navigation menu */
nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ffdfdf;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Style the content */
article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #ffdfdf;
    padding: 10px;
}

/* Style the footer */
footer {
    background-color: #3e332e;
    padding: 10px;
    text-align: center;
    color: #ffdfdf;
}

button {
    appearance: none;
    border: none;
    background: #3e332e;
    color: #ffdfdf;
    transition: background 0.1s;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    font-size: 11pt;
    margin: 2px;
}
button:hover {
    background: #8e8377;
}
button:active {
    background-color: #1e0d0d;

}

select {
    border: none;
    background: #3e332e;
    color: #ffdfdf;
    transition: background 0.1s;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    font-size: 11pt;
    margin: 2px;
}

select:hover {
    background: #8e8377;
}

option {
    border: none;
    background: #8e8377;
    color: #ffdfdf;
    transition: background 0.1s;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px;
    text-align: center;
    font-size: 11pt;
    margin: 2px;
}


input {
    border: #ffdfdf 1px solid;
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 11pt;
}

a {
    color: #3e332e;
    border: #3e332e 1px solid;
    border-radius: 2px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

table{
    background-color: #fdebeb;
    border-radius: 5px;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;
}




/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}